<!-- TITLE -->

<div class="mb-40 mt-40">
  <h1>Home</h1>
</div>

<!-- SEARCH FORM -->
<div>
  <!-- START LINKS -->
    <div>
        <a routerLink="/empresass" routerLinkActive="active">Link to List Empresas</a>
    </div>
    <div>
        <a routerLink="/categoriamenus" routerLinkActive="active">Link to List CategoriaMenu</a>
    </div>
    <div>
        <a routerLink="/configs" routerLinkActive="active">Link to List Config</a>
    </div>
    <div>
        <a routerLink="/itemmenus" routerLinkActive="active">Link to List ItemMenu</a>
    </div>
    <div>
        <a routerLink="/itemordens" routerLinkActive="active">Link to List ItemOrden</a>
    </div>
    <div>
        <a routerLink="/medias" routerLinkActive="active">Link to List Media</a>
    </div>
    <div>
        <a routerLink="/menus" routerLinkActive="active">Link to List Menu</a>
    </div>
    <div>
        <a routerLink="/mesass" routerLinkActive="active">Link to List Mesas</a>
    </div>
    <div>
        <a routerLink="/ordeness" routerLinkActive="active">Link to List Ordenes</a>
    </div>
    <div>
        <a routerLink="/tiposmedias" routerLinkActive="active">Link to List TiposMedia</a>
    </div>
    <div>
        <a routerLink="/userempresas" routerLinkActive="active">Link to List UserEmpresa</a>
    </div>
 <!-- END LINKS -->
</div>